.screen-dash{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.side-bar{
    width: 30%;
    height: 100VH;
    position: fixed;
    left: 0;
    color: #fff;
    background-color: #C8C8C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    border: 3px solid black;
}

.nav-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transform: rotate(90deg);
}

.nav-logo img{
    width: 80%;
}

.main-content{
    width: 80%;
    margin-left: 20%;
    margin-top: 8%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding-bottom: 5%;
}

.etapas {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}

.primeria-etapa {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
}

.segunda-etapa {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
}

.titulo-cadastro {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15%;
}

.registro {
    display: flex;
    flex-direction: row;
    gap:5%;
}

.esquerda-cadastro {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
}

.direita-cadastro {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 6%;
}

.inputs-pequenos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 9px;
}

.input {
    width: 100%;
    height: 40px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #FFF;
    color: black;
    box-shadow: 0px 4px 10px 2px rgba(158, 157, 157, 0.3);
}

.input-pequeno {
    width: 40%;
    height: 35px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #FFF;
    color: black;
    box-shadow: 0px 4px 10px 2px rgba(158, 157, 157, 0.3);
}

#botao_parte1 {
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 8%;
}

.botao-cadastro {
    width: 70%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 800;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #04364A;
    margin-top: 8vh;
}

.botao-cadastro:hover {
    cursor: pointer;
}

.div_confirmacao {
    width: 300px;
    height: 55px;
    background-color: #2DFF4F;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
}

.div_confirmacao_erro {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: rgb(255, 82, 82);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
}