.screen-dash{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.side-bar{
    width: 30%;
    height: 100VH;
    position: fixed;
    left: 0;
    color: #fff;
    background-color: #C8C8C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.nav-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transform: rotate(90deg);
}

.nav-logo img{
    width: 80%;
}

.main-content{
    width: 100%;
    margin-left: 20%;
    margin-top: 10%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    gap: 15px;
}

.titulo-contato {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.texto-contato {
    font-size: 35px;
    font-weight: 800;
    text-align: left;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input {
    width: 350px;
    height: 40px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #FFF;
    color: #C8C8C8;
    /*box-shadow:*/
}

.botao-enviar {
    width: 40%;
    height: 9vh;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 800;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #04364A;
}

.botao-enviar:hover {
    background-color: #C8C8C8;
    cursor: pointer;
}

textarea {
    width: 350px;
    height: 100px;
    outline: none;
}

.confirmacao_envio {
    display: flex;
    width: 300px;
    height: 55px;
    background-color: #2DFF4F;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
}