@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* CORES*/
--primary-color:#003519;
--complementar-color: #34751D;
--secondary-color: #1D6975;
--danger-color: #C53015;
--white-color: #FFF;
--subtitle-color:#717774;
--label-color:#656363;
--black-color: #000000;
--grey-color: #545454;
      
/* TAMANHO FONTES */
--tamanho-font-input:1.2em;

--weight-title: 400;
--font-size-title: 6em;
--font-size-subtitle:1.8rem;

--font-size-button: 1.8em;

/* OUTRAS */
--altura-input: 60px;
--padding-input: 0px 10px;
--padding-input-mensagem: 5px 10px;
--radius-input:7px;

--altura-button: 50px;
--width-button: 150px;
}

body{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
}


/* HOME */
.header{
z-index: 4;
height: 80px;
width: 100%;
background-color: var(--white-color);
display: flex;
justify-content: center;
align-items: center;    
position: fixed;
top: 0;
border: 2px solid black;
}

.logo {
    margin-top: 15px;
    margin-right: 15px;
}

button {
font-style: italic;
font-size: var(--font-size-button) !important;
font-weight: 600 !important;
cursor: pointer !important;
height: var(--altura-button) !important;
width: var(--width-button) !important;
}

.nav-div{
height: 100%;
display: flex;
justify-content: center;
width: 45%;
}
    
.nav-list{
list-style: none;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
    
.nav-list .nav-item {
position: relative;
}
    
.nav-list .nav-item a{
text-decoration: none;
color: var(--white-color);
font-weight: 600;
font-size: 18px;
}

.div-logo{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.navbar{
width: 90%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
    
.home{
margin-top: 80px;
width: 100%;
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url(./img/banner.webp);
background-color: rgb(0, 0, 0, 0.5);
background-size: cover;
}

.home-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#esquerda-home-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#direita-home-container {
    width: 48%;
}

.titulo-container {
width: 100%;
}

.texto-container {
width: 100%;
display: flex;
flex-direction: column;
gap: 45px;
}

.teste {
    width: 100%;
}

.section-preta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
    gap: 50px;
}

#quemsomos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-cinza {
    font-size: 70px;
    font-weight: 800;
    color: var(--grey-color);
    text-align: center;
    width: fit-content;
}

.texto-branco {
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    width:60%
}

.titulo-cinza-carrossel {
    font-size: 70px;
    font-weight: 800;
    color: var(--grey-color);
    text-align: left;
    width: fit-content;
}

.texto-branco-carrossel {
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    width:60%
}

.button-carrossel {
    align-items: flex-start;
}

#oqueoferecemos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    align-items: flex-start;
}

.carrosselInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#carrossel-info {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
}

#ladoEsquerdo {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    gap: 50px;
}

.ladoDireito {
    width: 45%;
    height: 100%;
}

.info1 {
    background-color: var(--white-color);
    border: 5px solid black;
}

.carrosselInfo1 {
    width: 80%;
    height: 100%;
}

.sep-nxtPrev-info1 .swiper-button-next{
    position: absolute;
    top:50%;
    margin-bottom: 44px;
    right: 20% !important;
    margin-left: 22.61px !important;
    color: var(--secondary-color) !important;
    z-index: 2 !important;
}

.sep-nxtPrev-info1 .swiper-button-prev{
    position: absolute;
    top:50%;
    margin-bottom: 44px;
    left: 20% !important;
    margin-right: 22.61px !important;
    color: var(--secondary-color) !important;
    z-index: 2 !important; 
}

#info1_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.direita-card {
    width: 45%;
    margin-left: 100px;
}

#info1_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#info1_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#info1_4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#section-branco {
    height: 100vh;
    background-color: var(--white-color);
}

.simulador {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.titulo-simulador {
    color: var(--black-color);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.texto-simulador {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.esquerda-simulador {
    width: 45%;
    justify-content: flex-start;
    align-items: center;
    gap: 5px
}

.frases-simulador {
    color: var(--black-color);
    font-size: 30px;
    font-weight: 800;
    text-align: left;
}

.input-simulador {
    width: 100px;
    height: 40px;
    border: 2px solid var(--black-color);
    border-radius: 20px;
}

.direita-simulador {
    width: 45%;
    display: none;
    border: 2px solid var(--black-color);
    border-radius: 20px;
    background-color: var(--grey-color);
}

.titulo-direita-simulador {
    color: var(--black-color);
    font-size: 30px;
    font-weight: 800;
    text-align: left;
}

.texto-direita-simulador {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 800;
    text-align: left;
}

.area-desenvolvedor {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-desenvolvedor {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.foto-desenvolvedor {
    width: 45%;
    background-image: url();
    background-size: cover;
}

.area-texto {
    width: 45%;
    background-color: var(--white-color);
}

.titulo-desenvolvedor {
    color: var(--black-color);
    font-size: 40px;
    font-weight: 800;
    text-align: left;
}

.texto-desenvolvedor {
    color: var(--black-color);
    font-size: 30px;
    font-weight: 800;
    text-align: left;
}

#rodape {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.conteudo-rodape {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
}

.institucional {
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.logo-projeto-rodape {
    background-image: url(./icon/logo_cinza.png);
    background-color: rgb(0, 0, 0, 0.5)
}
