@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* CORES*/
--primary-color:#003519;
--complementar-color: #34751D;
--secondary-color: #1D6975;
--danger-color: #C53015;
--white-color: #FFF;
--lightgrey-color:#CFCFCF;
--label-color:#656363;
--black-color: #000000;
--grey-color: #545454;
      
/* TAMANHO FONTES */
--tamanho-font-input:1.2em;

--weight-title: 400;
--font-size-title: 6em;
--font-size-subtitle:1.8rem;

--font-size-button: 1.8em;

/* OUTRAS */
--altura-input: 60px;
--padding-input: 0px 10px;
--padding-input-mensagem: 5px 10px;
--radius-input:7px;

--altura-button: 50px;
--width-button: 150px;
}

body{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
}


/* HOME */
.header{
z-index: 4;
height: 80px;
width: 100%;
background-color: var(--white-color);
display: flex;
justify-content: center;
align-items: center;    
position: fixed;
top: 0;
}

.logo {
    margin-top: 15px;
    margin-right: 15px;
}
/*
button {
font-style: italic;
font-size: var(--font-size-button) !important;
font-weight: 600 !important;
cursor: pointer !important;
height: var(--altura-button) !important;
width: var(--width-button) !important;
}
*/
.nav-div{
height: 100%;
display: flex;
justify-content: center;
width: 45%;
}
    
.nav-list{
list-style: none;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
    
.nav-list .nav-item {
position: relative;
}
    
.nav-list .nav-item a{
text-decoration: none;
color: var(--white-color);
font-weight: 600;
font-size: 18px;
}

.div-logo{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.navbar{
width: 90%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
    
.home{
margin-top: 80px;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.5);
background-size: cover;
}

.banner{
    background-image: url(./img/banner.webp);
}

.home-container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#esquerda-home-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

#direita-home-container {
    width: 48%;
}

.titulo-container {
width: 100%;
text-align: left;
color: var(--white-color);
font-size: 70px;
font-weight: 800;
}

.texto-container {
width: 80%;
font-size: 30px;
font-weight: 400;
display: flex;
flex-direction: column;
color: var(--white-color);
text-align: left;
}

.teste {
    width: 100%;
}

.section-preta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
    gap: 50px;
    background-size: cover;
}

#quemsomos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.textosExp {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.textoExp-qs {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.titulo-cinza {
    font-size: 70px;
    font-weight: 800;
    color: var(--grey-color);
    text-align: left;
}

.texto-branco {
    color: black;
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    width: 100%
}

.texto-branco-qs {
    color: black;
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    width: 86%;
}

.circulo-imagem-dash {
    width: 300px;
    height: 300px;
    border: 10px solid var(--black-color);
    border-radius: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.circulo-imagem-user {
    width: 300px;
    height: 300px;
    border: 10px solid var(--black-color);
    border-radius: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagemDash {
    width: 250px;
    height: 240px;
    background-image: url(file:///C:/Users/caiov/Downloads/bxs-dashboard.svg);
    background-size: cover;
}

.imagemUser {
    width: 250px;
    height: 250px;
    background-image: url(file:///C:/Users/caiov/Downloads/bxs-user-pin.svg);
    background-size: cover;
}

.titulo-cinza-carrossel {
    font-size: 70px;
    font-weight: 800;
    color: var(--grey-color);
    text-align: left;
    width: fit-content;
}

.texto-branco-carrossel {
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    width: 60%
}

.button-carrossel {
    align-items: flex-start;
    border-radius: 10px;
    font-size: 8px;
}

#oqueoferecemos {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 5%;
}

.button-container {
    width: 120px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    font-size: 20px;
    background-color: #FFF;
}

.button-container:hover {
    background-color: #04364A;
    color: white;
}

.button {
    width: 40px;
    height: 50px;
    background-color: var(--white-color);
}

.carrosselInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#carrossel-info {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
}

#ladoEsquerdo {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 50px;
    margin-left: 10%;
}

.ladoDireito {
    width: 45%;
    height: 100%;
}

.info1 {
    background-color: var(--white-color);
    border: 5px solid var(--black-color);
}

.carrosselInfo1 {
    width: 80%;
    height: 100%;
}

.sep-nxtPrev-info1 .swiper-button-next{
    position: absolute;
    top:50%;
    margin-bottom: 44px;
    right: 20% !important;
    margin-left: 22.61px !important;
    color: var(--secondary-color) !important;
    z-index: 2 !important;
}

.sep-nxtPrev-info1 .swiper-button-prev{
    position: absolute;
    top:50%;
    margin-bottom: 44px;
    left: 20% !important;
    margin-right: 22.61px !important;
    color: var(--secondary-color) !important;
    z-index: 2 !important; 
}

#info1_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.direita-card {
    width: 45%;
    margin-left: 100px;
}

#info1_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#info1_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#info1_4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#section-branco {
    width: 100vw;
    height: 80vh;
    background-color: var(--white-color);
    background-size: cover;
}

.simulador {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.titulo-simulador {
    color: var(--black-color);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 2%;
}

.inferior-simulador {
    display: flex;
    flex-direction: row;
}

.texto-simulador {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.esquerda-simulador {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 50%;
}

.frases-simulador {
    color: var(--black-color);
    font-size: 25px;
    font-weight: 800;
    text-align: left;
}

.input-simulador {
    width: 400px;
    height: 40px;
    border: 2px solid var(--black-color);
    border-radius: 20px;
}

.select-simulador {
    width: 100px;
    height: 40px;
    border: 2px solid var(--black-color);
    border-radius: 20px;
}

.direita-simulador {
    width: 40%;
    height: 70%;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--lightgrey-color);
    margin-left: 20%;
    margin-top: 3%;
}

.titulo-direita-simulador {
    color: var(--black-color);
    font-size: 30px;
    font-weight: 800;
    text-align: left;
}

.texto-direita-simulador {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 800;
    text-align: left;
}

.area-desenvolvedor {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-desenvolvedor {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin-top: 20vh;
    padding-bottom: 10vh;
}

.foto-desenvolvedor {
    width: 500px;
    height: 480px;
    border: 3px solid black;
    border-radius: 300px;
    background-image: url(https://media.licdn.com/dms/image/v2/C4D03AQH5kxJFypbMew/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1662993091556?e=1736380800&v=beta&t=dk0mwh4bhDs-P0Jz6hjMb67FrGZdJUU7FdmOKR7CnWc);
    background-size: cover;
}

.area-texto {
    width: 60%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
}

.titulo-desenvolvedor {
    color: var(--black-color);
    font-size: 40px;
    font-weight: 800;
    text-align: left;
}

.texto-desenvolvedor {
    color: var(--black-color);
    font-size: 30px;
    font-weight: 800;
    text-align: left;
}

#rodape {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 20vh;
}

.conteudo-rodape {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.institucional {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 5%;
}

.logo-projeto-rodape {
    width: 600px;
    height: 250px;
    background-image: url(./icon/logo_cinza.png);
    background-size: cover;
    margin-left: 1%;
}

.direitos {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 4%;
}

.titulo-rodape {
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: left;
}

.titulo-rodape:hover {
    color:#04364A;
}

.rod-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-inline-start: 0px;
}

.option {
    height: 20px;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
}

.option:hover {
    color:#04364A;
}

.lista {
    width: fit-content;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

.quadrados {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.quadrado {
    width: 10px;
    height: 10px;
    background-color: #04364A;
    transform: rotate(45deg);
}

.redes-sociais{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-left: 21%;
}

.instagram {
    width: 50px;
    height: 50px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png);
    background-size: cover;
}

.facebook {
    width: 50px;
    height: 50px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/640px-Facebook_logo_%28square%29.png);
    background-size: cover;
}

#rod-home {
    display: flex;
    flex-direction: row;
}

#rod-login {
    display: flex;
    flex-direction: row;
}

#rod-cadastro {
    display: flex;
    flex-direction: row;
}

#rod-contato {
    display: flex;
    flex-direction: row;
}